@import "~bootstrap/dist/css/bootstrap";

@import "./components/DebugToolbar";
@import "./components/GraphicsView";
@import "./components/MemoryView";
@import "./components/RegistersView";
@import "./components/SourceView";

.hassel-wasm-dbg {
    .card-header {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
    }

    .error {
        color: red;
    }
}