.memory-view {
    ol {
        padding-left: 5px;
    }

    div.memory {
        height: 250px;
        overflow-x: auto;
        overflow-y: scroll;
    }

    input {
        text-align: center;
    }

    li {
        white-space: nowrap;
        list-style-type: none;
        padding-left: 20px;
    }

    pre {
        margin: 0;
        overflow-x: initial;
        overflow-y: initial;
        display: inline-block;
    }

    pre.address {
        color: grey;
    }
}