.source-viewport {
    div.scroll-region {
        height: 685px;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    ol {
        padding-left: 5px;
    }

    li {
        white-space: nowrap;
        list-style-type: none;
        padding-left: 20px;

        .breakpoint {
            display: inline-block;
            opacity: 0;
            color: red;
            width: 20px;
            margin-left: -20px;
            text-align: center;
            cursor: pointer;
        }

        .breakpoint.set {
            opacity: 1;
        }
        .breakpoint:not(.set):hover {
            opacity: 0.5;
        }
    }

    li.current {
        background-color: #FC0;
    }

    pre {
        margin: 0;
        overflow-x: initial;
        overflow-y: initial;
        display: inline-block;
        tab-size: 4;
    }

    pre.address {
        color: grey;
    }
}