.source-viewport {
    height: 500px;

    div.card-block {
        overflow-x: scroll;
        overflow-y: scroll;
    }

    li.current {
        background-color: #FC0;
    }

    pre {
        margin: 0;
        overflow-x: initial;
        overflow-y: initial;
    }
}